<div class="container">
  <img src="" alt="">
</div>

<p> <%= link_to 'New moto', new_moto_path %> </p>

<div class="container">
  <div class="row mt-4">
  </div>
</div>

<p>Find me in app/views/pages/home.html.erb</p>

  <%# <% @motos.each do |moto| %>
    <%# <div class="col-4 mt-5">
      <div class="card-list">
        <p> <%= link_to moto.name, moto_path(moto), :class => "link_to" %>
      <%# </div>
    </div>
  <% end %>
