
<div class="Container">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.midilibre.fr/api/v1/images/view/61def9638fe56f5eb81849b6/large/image.jpg?v=1)">
    <div class="container">
    <h3>Welcome on board Yassine Allouna</h3>
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
    </div>
  </div>

  <h2>Booking HISTORY</h2>
  <div class="card-product mt-3">
    <img src="https://assets.turbologo.com/blog/fr/2019/10/19134154/harley-davidson-logo-evolution.jpg" />
      <div class="card-product-infos">
        <h2>BOOKING PENDING</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
  </div>
<hr>
<h2>Booking HISTORY</h2>
   <div class="card-product mt-3">
      <img src="https://unnotremonde.com/wp-content/uploads/2017/01/liasses-de-billets.jpg" />
      <div class="card-product-infos">
        <h2>BOOKING HISTORY</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
  </div>
  <hr>
  <h2>Mes MOTOS</h2>
     <div class="card-product mt-3">
      <img src="https://www.cdiscount.com/pdt2/6/9/0/1/1200x1200/auc4042774445690/rw/vespa-gts-102-cm-12v-rose-clair-scooter-electrique.jpg" />
      <div class="card-product-infos">
        <h2>MES MOTOS</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
  </div>

</div>
