.banner-homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("banner.jpg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 57px);
}

.banner-homepage h1 {
  margin-top: 150px;
  color: #FFFFFF;
  font-weight: bold;
}
