.btn-ghost {
  color: white;
  border: 2px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  font-size: 20px;
}

.btn-ghost:hover {
  opacity: 0.6;
  color: white;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

// Bouton noir
.new-moto {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #272626;
  color: #FFFFFF;
  border-radius: 5px;
  border-color: none;
}

.new-moto:hover {
  background-color: #000000;
  color: white;
}

// Bouton Book

.book{
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgb(28, 72, 155);
  color: #FFFFFF;
  border-radius: 5px;

}

.book:hover {
  background-color: rgb(38, 96, 204);
  color: white;
}

// Bouton Delete

.delete{
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgb(216, 44, 44);
  color: #FFFFFF;
  border-radius: 5px;
}

.delete:hover {
  background-color: rgb(226, 45, 45);
  color: white;
}

// Bouton Upgrade

.update{
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgb(22, 121, 22);
  color: #FFFFFF;
  border-radius: 5px;
}

.update:hover {
  background-color: rgb(28, 158, 28);;
  color: white;
}

.link-without-style{
  text-decoration: none;
  color: black;
}


//////////////////////////////////////////////////

// Bouton noir Show
.new-moto-show {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #272626;
  color: #FFFFFF;
  border-radius: 5px;
  border-color: none;
  margin-bottom: center;
}

.new-moto-show:hover {
  background-color: #000000;
  color: white;
}
