.card-trip {

  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.card-trip > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}


.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-product {
  overflow: hidden;
  height: 160px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 6px;
}

.card-product img {
  height: 100%;
  width: 240px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}


.card-category {
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


// Card moto : Global

.card-moto {
  height: 450px;
  box-shadow: 5px 15px 30px rgba(0,0,0,0.3);
  border-radius: 10px;
  position: relative;
}

// Card moto : Img

.card-moto img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  transition: 0.3s;
  filter:brightness(100%);
  border-radius: 10px 10px 0px 0px;
}

// Card moto : Img:hover

.card-moto img:hover {
  transition: 0.3s;
  filter:brightness(60%);
}

// Card moto : Info ON Home

.card-moto .card-moto-info {
  height: 40%;
  position: relative;
}

.card-moto .card-moto-info p {
  padding: 0;
  margin: 0;
}

.card-moto .name {
  text-decoration: none;
  position: absolute;
  top: 20px;
  left: 20px;
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.card-moto .name:hover {
  opacity: 0.8;
}


.card-moto #brand {
  position: absolute;
  top: 55px;
  left: 20px;
  font-size: 18px;
}

.card-moto #address {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.card-moto #price {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

// Card moto : info ON Dashboard

.card-moto .card-moto-img {
  position: relative;
}

.card-moto .card-moto-img img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
  filter:brightness(100%);
}

.card-moto .card-moto-img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.card-moto i {
  position: absolute;
  visibility: hidden;
  z-index: 2;
  color: #FFFFFF;
  transition: 0.1s;
  transform: scale(1);
}


.card-moto i:hover {
  transition: 0.3s;
  transform: scale(1.25);
}


.card-moto .fa-trash {
  top: 15px;
  right: 15px;
}

.card-moto .fa-pen {
  top: 15px;
  right: 45px;
}

.card-moto .card-moto-img:hover img {
  transition: 0.3s;
  filter:brightness(60%);
}

.card-moto .card-moto-img:hover i {
  visibility: visible;
}

#card-price{
  font-size: 16px;
}
